ion-content{
    
     --background:white;

.clean{


      background-color:white;

      height:2vh;

}

ion-item{
     
      input{color:forestgreen;font-weight:bold;border:none;width:100%;height:35px;outline:none;overflow:none;}
      border-bottom:2px forestgreen solid;
}

ion-item{
    
    background-color:white;
}






}