

<ion-content >


<ion-refresher slot="fixed" disabled="false" (ionRefresh)="doRefresh($event)">  
            <ion-refresher-content  
            pullingIcon="arrow-dropdown"  
            pullingText="Pull to refresh"  
            refreshingSpinner="dots"  
           ></ion-refresher-content> 
            
  </ion-refresher> 



 <div class="svg" >
    <br>
    <ion-title padding color="light"> Covid-19</ion-title>
    <ion-title padding  color="light"> <b>{{nom}}</b> </ion-title>
    <br>
    
   </div> 


 
  <ion-card>
          <canvas width="300" height="300" #mychart>
            


          </canvas>
  </ion-card>




 

</ion-content>



