

<ion-content [fullscreen]="true">

   <ion-refresher slot="fixed" disabled="false" (ionRefresh)="doRefresh($event)">  
            <ion-refresher-content  
            pullingIcon="arrow-dropdown"  
            pullingText="Pull to refresh"  
            refreshingSpinner="dots"  
           ></ion-refresher-content> 

  </ion-refresher> 

  
  <div class="search">
    
       <ion-searchbar [(ngModel)]="searchCountry" autocomplete="off"></ion-searchbar>
  </div>

  <ion-list *ngFor="let country of countries | filter:searchCountry">
    <ion-item>
      <ion-label>
        <h1>{{country.country}}</h1>
        <h4>
          Cases: {{country.cases | number}} | Today: {{country.todayCases | number}} 
        </h4>
        <ion-button  padding (click)="goToCountry(country.country)" shape="round" color="success" fill="outline">Voir plus </ion-button>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>