ion-content{
	
	--background:forestgreen;
	
  ion-card{

     --background:white;

     input{color:forestgreen;background:white;font-weight:bold;border:none;width:100%;height:40px;outline:none;overflow:none;border-bottom:3px solid white}
  }
 
}